@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;1,100;1,200;1,400&display=swap");

body {
  background-color: #14213d;
  color: #e5e5e5;
  font-family: "Raleway", sans-serif;
}
#main {
  background-color: #023047;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  width: 400px;
  left: calc(50vw - 200px);
  height: 400px;
  top: calc(50vh - 200px);
}
ul {
  text-align: left;
  list-style: lower-greek;
}
a {
  color: #fca311;
}
li {
  margin: 8px 0 8px 0;
}
